@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #995BED;
    height: 600px;
}

body {
    font-family: 'Roboto', sans-serif
}

.menu {
    background-color: white;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul {
    list-style: none;
    margin-left: -40px;
}

ul > li {
    padding: 10px;
    font-weight: bold;
}

ul > li:hover {
    background-color: #F7F2FF;
}

ul > li > i {
    padding-right: 10px;
}

.sidebar {
    text-align: center;
    font-size: 18px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

p {
    font-weight: bold;
    font-size: 13px;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

